.panel {
    border: 1px solid $color_grey-4;
    border-radius: 5px;

    .panel-head {
        border-bottom: 1px solid $color_grey-4;
        display: flex;
        border-radius: 5px;
        background-color: $color_white-1;
        align-items: center;
        overflow: hidden;

        .panel-title {
            padding: 1rem;
            font-size: $font-size_lg;
            font-weight: $font-weight_semibold;
        }
        
        .panel-options {
            padding: 1rem;
            border-left: 1px solid $color_grey-4;
            margin-left: auto;
        }
    }

    .panel-body {
        background-color: $color_white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1.5rem;
    }
}
