$primary: #3b945e;
$primary-lighter: lighten($primary, 5%);
$primary-darker: darken($primary, 5%);

$grey-1: #F7FAFC;
$grey-2: #EDF2F7;
$grey-3: #E2E8F0;
$grey-4: #CBD5E0;
$grey-5: #A0AEC0;
$grey-6: #718096;
$grey-7: #4A5568;
$grey-8: #2D3748;
$grey-9: #1A202C;

$white-0: #ffffff;
$white-1: #fbfcfc;
$white-2: #f8fafa;
$white-3: #f4f7f7;
$white-4: #f0f4f4;

$white: $white-0;
$text: $grey-7;

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 100%, 41%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);

$breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);

@mixin respond-above($breakpoint) {
	@media (min-width: map-get($breakpoints, $breakpoint)) {
		@content;
	}
}

@mixin respond-below($breakpoint) {
	@media (max-width: map-get($breakpoints, $breakpoint) - 1) {
		@content;
	}
}

$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
